<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.wehub.message.model.dao.MessageDao">
	
	<resultMap type="ReceiveMessage" id="receiveResultMap">
		<id property="receiveNo" column="REC_NO"/>
		<id property="senderNo" column="SENDER_NO"/>
		<id property="receiverNo" column="RECEIVER_NO"/>
		<id property="receiveContent" column="REC_CONTENT"/>
		<id property="receiveDate" column="REC_DATE"/>
		<id property="deleteDate" column="DELETE_DATE"/>
		<id property="senderName" column="USER_NAME"/>
		<id property="rank" column="RANK"/>
		<id property="status" column="STATUS"/>
	</resultMap>

	<resultMap type="SendMessage" id="sendResultMap">
		<id property="sendNo" column="SEND_NO"/>
		<id property="senderNo" column="SENDER_NO"/>
		<id property="receiverNo" column="RECEIVER_NO"/>
		<id property="sendContent" column="SEND_CONTENT"/>
		<id property="sendDate" column="SEND_DATE"/>
		<id property="deleteDate" column="DELETE_DATE"/>
		<id property="status" column="STATUS"/>
	</resultMap>

	<select id="getMessageCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM RECEIVE_MSG R
		JOIN MEMBER M ON(R.SENDER_NO = M.USER_NO)
		WHERE STATUS ='Y'
		AND RECEIVER_NO = #{receiverNo}
		<if test="msgSearchList == 'all'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%'
			OR M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'name'">
			AND (M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'content'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%')
		</if>
	</select>

	<select id="selectMessageList" parameterType="map" resultMap="receiveResultMap">
		SELECT R.REC_NO,
               R.SENDER_NO,
		       R.REC_CONTENT,
		       R.REC_DATE, 
		       R.DELETE_DATE,
               R.STATUS,
               M.USER_NAME,
               M.RANK
		FROM RECEIVE_MSG R
		JOIN MEMBER M ON(R.SENDER_NO = M.USER_NO)
        WHERE R.STATUS='Y' AND RECEIVER_NO = #{receiverNo}
       	<if test="msgSearchList == 'all'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%'
			OR M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'name'">
			AND (M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'content'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%')
		</if>
		ORDER BY R.REC_NO DESC
	</select>
	
	<update id="deleteMessage" parameterType="_int">
		UPDATE RECEIVE_MSG 
		SET 
		    STATUS='N'
		WHERE 
		    REC_NO= #{receiveNo}
	</update>

</mapper>