<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.wehub.message.model.dao.MessageDao">
	
	<resultMap type="Member" id="memberResultMap">
		<id property="user_no" column="USER_NO"/>
		<result property="user_companyname" column="USER_COMPANYNAME"/>
		<result property="user_id" column="USER_ID"/>
		<result property="user_pwd" column="USER_PWD"/>
		<result property="user_name" column="USER_NAME"/>
		<result property="rank" column="RANK"/>
		<result property="email" column="EMAIL"/>
		<result property="comcall" column="COMCALL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="user_status" column="USER_STATUS"/>
		<result property="dept_code" column="DEPT_CODE"/>
	</resultMap>
	
	<resultMap type="ReceiveMessage" id="receiveResultMap">
		<id property="receiveNo" column="REC_NO"/>
		<result property="senderNo" column="SENDER_NO"/>
		<result property="receiverNo" column="RECEIVER_NO"/>
		<result property="receiveContent" column="REC_CONTENT"/>
		<result property="receiveDate" column="REC_DATE"/>
		<result property="deleteDate" column="DELETE_DATE"/>
		<result property="senderName" column="USER_NAME"/>
		<result property="rank" column="RANK"/>
		<result property="s_deptName" column="DEPT_NAME"/>
		<result property="status" column="STATUS"/>
	</resultMap>

	<resultMap type="SendMessage" id="sendResultMap">
		<id property="sendNo" column="SEND_NO"/>
		<result property="senderNo" column="SENDER_NO"/>
		<result property="receiverNo" column="RECEIVER_NO"/>
		<result property="sendContent" column="SEND_CONTENT"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="userName" column="USER_NAME"/>
		<result property="sendDate" column="SEND_DATE"/>
		<result property="deleteDate" column="DELETE_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>

	<select id="getMessageCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM RECEIVE_MSG R
		JOIN MEMBER M ON(R.SENDER_NO = M.USER_NO)
		WHERE STATUS ='Y'
		AND RECEIVER_NO = #{receiverNo}
		<if test="msgSearchList == 'all'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%'
			OR M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'name'">
			AND (M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'content'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%')
		</if>
	</select>

	<select id="selectMessageList" parameterType="map" resultMap="receiveResultMap">
		SELECT R.REC_NO,
               R.SENDER_NO,
		       R.REC_CONTENT,
		       R.REC_DATE, 
		       R.DELETE_DATE,
               R.STATUS,
               M.USER_NAME,
               M.RANK,
               D.DEPT_NAME
		FROM RECEIVE_MSG R
		JOIN MEMBER M ON(R.SENDER_NO = M.USER_NO)
        JOIN DEPARTMENT D ON(M.DEPT_CODE = D.DEPT_CODE)
        WHERE R.STATUS='Y' AND RECEIVER_NO = #{receiverNo}
       	<if test="msgSearchList == 'all'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%'
			OR M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'name'">
			AND (M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'content'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%')
		</if>
		ORDER BY R.REC_NO DESC
	</select>
	
	<update id="deleteMessage" parameterType="_int">
		UPDATE RECEIVE_MSG 
		SET 
		    STATUS='N',
		    DELETE_DATE=SYSDATE
		WHERE 
		    REC_NO= #{receiveNo}
	</update>

	<!-- <select id="getSearchMember" parameterType="Member" resultMap="memberResultMap">
		SELECT USER_NAME, DEPT_NAME
		FROM MEMBER M
		LEFT OUTER JOIN DEPARTMENT D ON (M.DEPT_CODE = D.DEPT_CODE)
	</select> -->

	<select id="getSearchMember" parameterType="string" resultMap="memberResultMap">
		SELECT M.USER_NAME, D.DEPT_NAME, M.rank
		FROM MEMBER M
		LEFT OUTER JOIN DEPARTMENT D ON (M.DEPT_CODE = D.DEPT_CODE)
		WHERE USER_NAME LIKE '%'|| #{user_name} ||'%'
	</select>

	<select id="getSender" parameterType="map"  resultMap="memberResultMap">
		SELECT M.USER_NO,
		        M.USER_ID,
		        M.USER_PWD,
		        M.USER_NAME,
		        M.RANK,
		        D.DEPT_NAME
		FROM MEMBER M
		JOIN DEPARTMENT D ON(M.DEPT_CODE = D.DEPT_CODE)
		WHERE USER_STATUS ='Y' AND (USER_NAME = '${user_name}' AND DEPT_NAME= '${dept_name}')
	</select>

	<insert id="sendMsg" parameterType="map"
  		useGeneratedKeys="true" keyProperty="sendNo" keyColumn="SEND_NO">
  		
		INSERT INTO SEND_MSG 
  		VALUES(
  			SEQ_SEND_NO.NEXTVAL,
  			#{senderNo},
  			#{receiverNo},
  			#{sendContent},
  			SYSDATE,
  			SYSDATE,
  			DEFAULT
 		)
	</insert>
	
	<insert id="recMsg" parameterType="ReceiveMessage"
  		useGeneratedKeys="true" keyProperty="receiveNo" keyColumn="REC_NO">
  		
		INSERT INTO RECEIVE_MSG 
  		VALUES(
  			SEQ_REC_NO.NEXTVAL,
  			#{senderNo},
  			#{receiverNo},
  			#{receiveContent},
  			SYSDATE,
  			SYSDATE,
  			DEFAULT
 		)
	</insert>
	
	<select id="getSendMessageCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM SEND_MSG S
		JOIN MEMBER M ON(S.RECEIVER_NO = M.USER_NO)
		WHERE STATUS ='Y'
		AND SENDER_NO = #{senderNo}
		<if test="msgSearchList == 'all'">
			AND (S.SEND_CONTENT LIKE '%'||#{msgSearchText}||'%'
			OR M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'name'">
			AND (M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'content'">
			AND (S.SEND_CONTENT LIKE '%'||#{msgSearchText}||'%')
		</if>
	</select>
	
	<select id="selectSendMsgList" parameterType="map" resultMap="sendResultMap">
		SELECT S.SEND_NO,
		       S.SENDER_NO,
		       S.SEND_CONTENT,
		       S.SEND_DATE, 
		       S.DELETE_DATE,
		       S.STATUS,
		       M.USER_NAME,
		       M.RANK,
		       D.DEPT_NAME
		FROM SEND_MSG S
		JOIN MEMBER M ON(S.RECEIVER_NO = M.USER_NO)
		JOIN DEPARTMENT D ON(M.DEPT_CODE = D.DEPT_CODE)
		WHERE S.STATUS='Y' AND SENDER_NO = #{senderNo}
       	<if test="msgSearchList == 'all'">
			AND (S.SEND_CONTENT LIKE '%'||#{msgSearchText}||'%'
			OR M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'name'">
			AND (M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'content'">
			AND (S.SEND_CONTENT LIKE '%'||#{msgSearchText}||'%')
		</if>
		ORDER BY S.SEND_NO DESC
	</select>
	
	<update id="deleteSendMessage" parameterType="_int">
		UPDATE SEND_MSG 
		SET 
		    STATUS='N',
		    DELETE_DATE=SYSDATE
		WHERE 
		    SEND_NO= #{sendNo}
	</update>
	
	<!-- 체크된 메세지 삭제 (받은쪽지)-->
	<update id="deleteCheckMsg" parameterType="java.util.List">
			UPDATE RECEIVE_MSG 
			SET 
			    STATUS='N',
			    DELETE_DATE=SYSDATE
			WHERE REC_NO IN
		<foreach item="item" index="index" collection="list" separator="," open="(" close=")">
			    #{item}
		</foreach>
	</update>
	
	<!-- 체크된 메세지 삭제 (보낸쪽지)-->
	<update id="deleteCheckSendMsg" parameterType="java.util.List">
			UPDATE SEND_MSG 
			SET 
			    STATUS='N',
			    DELETE_DATE=SYSDATE
			WHERE SEND_NO IN
		<foreach item="item" index="index" collection="list" separator="," open="(" close=")">
			    #{item}
		</foreach>
	</update>
	
	<!-- 체크된 메세지 삭제 (휴지통쪽지)-->
	<update id="deleteCheckDeletedMsg" parameterType="java.util.List">
			UPDATE RECEIVE_MSG 
			SET 
			    STATUS='X',
		    	DELETE_DATE=SYSDATE
			WHERE REC_NO IN
		<foreach item="item" index="index" collection="list" separator="," open="(" close=")">
			    #{item}
		</foreach>
	</update>
	
	
	<!-- 휴지통쿼리 -->
	
	<select id="getDeletedMessageCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM RECEIVE_MSG R
		JOIN MEMBER M ON(R.SENDER_NO = M.USER_NO)
		WHERE STATUS ='N'
		AND RECEIVER_NO = #{receiverNo}
		<if test="msgSearchList == 'all'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%'
			OR M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'name'">
			AND (M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'content'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%')
		</if>
	</select>
	
	<select id="selectDeletedMsgList" parameterType="map" resultMap="receiveResultMap">
		SELECT R.REC_NO,
               R.SENDER_NO,
		       R.REC_CONTENT,
		       R.REC_DATE, 
		       R.DELETE_DATE,
               R.STATUS,
               M.USER_NAME,
               M.RANK,
               D.DEPT_NAME
		FROM RECEIVE_MSG R
		JOIN MEMBER M ON(R.SENDER_NO = M.USER_NO)
        JOIN DEPARTMENT D ON(M.DEPT_CODE = D.DEPT_CODE)
        WHERE R.STATUS='N' AND RECEIVER_NO = #{receiverNo}
       	<if test="msgSearchList == 'all'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%'
			OR M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'name'">
			AND (M.USER_NAME LIKE '%'||#{msgSearchText}||'%'
			OR M.RANK LIKE '%'||#{msgSearchText}||'%')
		</if>
		<if test="msgSearchList == 'content'">
			AND (R.REC_CONTENT LIKE '%'||#{msgSearchText}||'%')
		</if>
		ORDER BY R.REC_NO DESC
	</select>
	
	<update id="deletedMsgDelete" parameterType="_int">
		UPDATE RECEIVE_MSG 
		SET 
		    STATUS='X',
		    DELETE_DATE=SYSDATE
		WHERE 
		    REC_NO= #{receiveNo}
	</update>
	
</mapper>