<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.wehub.member.model.dao.MemberDao">

	<sql id="selectMemberSqlForFreeBoardAndApproval">
		 SELECT USER_NO,
		 		USER_COMPANYNAME,
		        USER_ID,
		        USER_PWD,
		        USER_NAME,
		        RANK,
	         	EMAIL,
	         	COMCALL,
	         	PHONE,
	         	ADDRESS,
		        USER_STATUS,
		        M.DEPT_CODE,
		        D.DEPT_NAME,
		        USER_IMG_REFILENAME
			FROM MEMBER M
			JOIN DEPARTMENT D ON D.DEPT_CODE = M.DEPT_CODE
			WHERE USER_STATUS ='Y'
	</sql>
	
	<resultMap type="Member" id="memberResultMap">
		<id property="user_no" column="USER_NO"/>
		<result property="user_companyname" column="USER_COMPANYNAME"/>
		<result property="user_id" column="USER_ID"/>
		<result property="user_pwd" column="USER_PWD"/>
		<result property="user_name" column="USER_NAME"/>
		<result property="rank" column="RANK"/>
		<result property="email" column="EMAIL"/>
		<result property="comcall" column="COMCALL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="user_status" column="USER_STATUS"/>
		<result property="dept_code" column="DEPT_CODE"/>
		<result property="dept_name" column="DEPT_NAME"/>
		<result property="user_imgOriname" column="USER_IMG_ORIFILENAME"/>
		<result property="user_imgRename" column="USER_IMG_REFILENAME"/>
	</resultMap>
	
	<select id="selectMember" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSqlForFreeBoardAndApproval"></include>
	 	AND USER_ID = #{userId}
	</select>
	
	<select id="selectMemberAllForApproval" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSqlForFreeBoardAndApproval"></include>
		AND USER_ID != #{userId}
	</select>
	
	<select id="selectSearchedMemberForApproval" parameterType="map" resultMap="memberResultMap">
		SELECT M.USER_NO,
		        M.USER_NAME,
		        M.RANK,
		        D.DEPT_NAME
		FROM MEMBER M
        JOIN DEPARTMENT D ON (M.DEPT_CODE = D.DEPT_CODE)
        WHERE M.USER_STATUS='Y' AND (M.USER_NAME LIKE '%'||#{searchData}||'%' OR
        							 M.RANK LIKE '%'||#{searchData}||'%' OR 
        							 D.DEPT_NAME LIKE '%'||#{searchData}||'%')		
		AND USER_ID != #{userId}		 
	</select>
	
	<select id="getSearchMemberForForApproval" parameterType="string" resultMap="memberResultMap">
		SELECT M.USER_NAME, M.DEPT_CODE, M.RANK
		FROM MEMBER M
		WHERE USER_NAME LIKE '%'|| #{userName} ||'%'
	</select>
	
</mapper>