<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.wehub.approval.model.dao.ApprovalDao">

	<resultMap type="Approval" id="approvalResultMap">
		<id property="appNo" column="APP_SEQ"/>
		<result property="appWriteDate" column="APP_WRITE_SYS"/>
		<result property="appWriterNo" column="APP_WRITER_NO"/>		
		<result property="firstApprover" column="FIRST_TIME_APPROVER"/>
		<result property="interimApprover" column="INTERIM_APPROVER"/>
		<result property="finalApprover" column="FINAL_APPROVER"/>
		<result property="appCheckSysdate" column="APP_CHECK_SYSDATE"/>
		<result property="appCheckProgress" column="APP_CHECK_PROGRESS"/>
		<result property="appReason" column="APP_REASON"/>
		<result property="appOriginalFileName" column="APP_ORIFILENAME"/>
		<result property="appRenameFileName" column="APP_REFILENAME"/>
		<result property="userNo" column="USER_NO"/>
		<result property="appKinds" column="APPROVAL_KINDS"/>
		<result property="userName" column="USER_NAME"/>
		<result property="rowNum" column="ROWNUM"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="loaTitle" column="LOA_TITLE"/>
		<result property="loaContent" column="LOA_DETAIL"/>
		<result property="loaAppNo" column="LOA_APP_SEQ"/>
		<result property="receiveRefAppNo" column="RECEIVE_REF_APP_SEQ"/>
		<result property="referList" column="RECEIVE_REF_CC"/>
		<result property="rank" column="RANK"/>
		
	</resultMap>

	<select id="selectRecentList" parameterType="map" resultMap="approvalResultMap">
		SELECT ROWNUM, B.* FROM (SELECT A.APP_SEQ,
		     A.APP_WRITER_NO,
		     A.APP_WRITE_SYS,
		     A.FIRST_TIME_APPROVER,
		     A.INTERIM_APPROVER,
		     A.FINAL_APPROVER,
		     A.APP_CHECK_SYSDATE,
		     A.APP_CHECK_PROGRESS,
		     A.APP_REASON,
		     A.APP_ORIFILENAME,
		     A.APP_REFILENAME,
		     M.USER_NAME,
		     M.RANK,
		     A.APPROVAL_KINDS,
		     D.DEPT_NAME
		FROM APPROVAL A 
		JOIN MEMBER M ON (A.APP_WRITER_NO = M.USER_NO)
		JOIN DEPARTMENT D ON (D.DEPT_CODE = M.DEPT_CODE)
		WHERE <!-- ROWNUM <![CDATA[ < ]]>= 6 AND  -->(((#{user_name} = A.FIRST_TIME_APPROVER) OR 
			                                  (#{user_name} = A.INTERIM_APPROVER) OR 
			                                  (#{user_name} = A.FINAL_APPROVER)) OR 
			                                  (#{user_no} = A.APP_WRITER_NO))
		ORDER BY A.APP_SEQ DESC) B
		ORDER BY ROWNUM
	</select>
	
	<select id="approvalCount_YET" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL A
		WHERE APP_CHECK_PROGRESS = '결재대기' <!-- AND (((#{user_name} = A.FIRST_TIME_APPROVER) OR 
			                                  (#{user_name} = A.INTERIM_APPROVER) OR 
			                                  (#{user_name} = A.FINAL_APPROVER)) OR 
			                                  (#{user_no} = A.APP_WRITER_NO)) -->
	</select>

	<select id="approvalCount_UNDER" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL A
		WHERE APP_CHECK_PROGRESS = '결재중' <!-- AND (((#{user_name} = A.FIRST_TIME_APPROVER) OR 
			                                  (#{user_name} = A.INTERIM_APPROVER) OR 
			                                  (#{user_name} = A.FINAL_APPROVER)) OR 
			                                  (#{user_no} = A.APP_WRITER_NO)) -->
	</select>

	<select id="approvalCount_DONE" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL A
		WHERE APP_CHECK_PROGRESS = '결재완료' <!-- AND (((#{user_name} = A.FIRST_TIME_APPROVER) OR 
			                                  (#{user_name} = A.INTERIM_APPROVER) OR 
			                                  (#{user_name} = A.FINAL_APPROVER)) OR 
			                                  (#{user_no} = A.APP_WRITER_NO)) -->
	</select>

	<select id="selectApprovalList" parameterType="map" resultMap="approvalResultMap">
		SELECT ROWNUM, B.* FROM(SELECT A.APP_SEQ,
		     A.APP_WRITER_NO,
		     A.APP_WRITE_SYS,
		     A.FIRST_TIME_APPROVER,
		     A.INTERIM_APPROVER,
		     A.FINAL_APPROVER,
		     A.APP_CHECK_SYSDATE,
		     A.APP_CHECK_PROGRESS,
		     A.APP_REASON,
		     A.APP_ORIFILENAME,
		     A.APP_REFILENAME,
		     M.USER_NAME,
		     M.RANK,
		     A.APPROVAL_KINDS,
		     D.DEPT_NAME
		FROM APPROVAL A 
		JOIN MEMBER M ON (A.APP_WRITER_NO = M.USER_NO)
		JOIN DEPARTMENT D ON (D.DEPT_CODE = M.DEPT_CODE)
        <if test="searchText != 'null'">
			<where>
				M.USER_NAME LIKE '%'|| #{searchText} ||'%'
				OR A.APPROVAL_KINDS LIKE '%'|| #{searchText} ||'%'
				OR A.APP_CHECK_PROGRESS LIKE '%'|| #{searchText} ||'%'
				OR D.DEPT_NAME LIKE '%'|| #{searchText} ||'%'
			</where>
		</if>
		ORDER BY A.APP_WRITE_SYS DESC) B
        ORDER BY ROWNUM ASC
	</select>
	
	<select id="listCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL A
		JOIN MEMBER M ON (A.APP_WRITER_NO = M.USER_NO)
		JOIN DEPARTMENT D ON (D.DEPT_CODE = M.DEPT_CODE)
		<where>
			<choose>
				<when test="searchList != 'null'">
					M.USER_NAME LIKE '%'|| #{searchText} ||'%'
					OR A.APPROVAL_KINDS LIKE '%'|| #{searchText} ||'%'
					OR A.APP_CHECK_PROGRESS LIKE '%'|| #{searchText} ||'%'
					OR D.DEPT_NAME LIKE '%'|| #{searchText} ||'%'
				</when>
			</choose>
		</where>
	</select>
	
	<insert id="insertLetterOfApproval" parameterType="map"
  		useGeneratedKeys="true" keyProperty="appNo" keyColumn="APP_SEQ">
  		
  		INSERT INTO APPROVAL
  		VALUES(
  			SEQ_APP_SEQ.NEXTVAL,
  			SYSDATE,
  			null,
  			null,
  			null,
  			null,
  			null,
  			null,
  			null,			
  			#{appWriterNo},
  			'결재대기',
  			'품의서'
 		)
  	</insert>
  	
  	<insert id="insertLetterOfApproval2" parameterType="map"
  		useGeneratedKeys="true" keyProperty="loaAppNo" keyColumn="LOA_SEQ">
  		
  		INSERT INTO APP_LOA
  		VALUES(
  			SEQ_LOA_SEQ.NEXTVAL,
  			#{loaAppNo},
  			#{loaTitle},
  			#{loaContent},
  			DEFAULT,
  			DEFAULT
 		)
  	</insert>
  	
  	<insert id="insertLetterOfApproval3" parameterType="map"
  		useGeneratedKeys="true" keyProperty="receiveRefAppNo" keyColumn="RECEIVE_REF_SEQ">
  		
  		INSERT INTO APP_RECEIVE_REF
  		VALUES(
  			SEQ_LOA_SEQ.NEXTVAL,
  			#{receiveRefAppNo},
  			#{referList}
 		)
  	</insert>
  	
  	<select id="selectApprovalListDetail" parameterType="_int" resultMap="approvalResultMap">
		SELECT A.APP_SEQ,
		     A.APP_WRITER_NO,
		     A.APP_WRITE_SYS,
		     A.FIRST_TIME_APPROVER,
		     A.INTERIM_APPROVER,
		     A.FINAL_APPROVER,
		     A.APP_CHECK_SYSDATE,
		     A.APP_CHECK_PROGRESS,
		     A.APP_REASON,
		     A.APP_ORIFILENAME,
		     A.APP_REFILENAME,
		     M.USER_NAME,
		     M.RANK,
		     A.APPROVAL_KINDS,
		     D.DEPT_NAME,
             LOA_TITLE,
             LOA_DETAIL,
             RECEIVE_REF_CC
		FROM APPROVAL A 
		JOIN MEMBER M ON (A.APP_WRITER_NO = M.USER_NO)
		JOIN DEPARTMENT D ON (D.DEPT_CODE = M.DEPT_CODE)
        JOIN APP_LOA L ON (A.APP_SEQ = L.LOA_APP_SEQ)
        JOIN APP_RECEIVE_REF R ON (A.APP_SEQ = R.RECEIVE_REF_APP_SEQ)
        WHERE A.APP_SEQ = ${appNo}
	</select>

</mapper>